<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>插件版本 V6.4</key>
<string>Phiên bản plugin V3.7.5</string>

<key>本插件完全免费分享！</key>
<string>Phát hành bởi HÀ THIỆN NHÂN!</string>

<key>如因本插件产生的任何！</key>
<string>Mọi vấn đề vui lòng inbox AD!</string>

<key>利益纠纷将由使用者自行承担！</key>
<string>fb.com/htn.copyright</string>

<key>XUUz</key>
<string>Nghiện Proxy</string>
    <!-- MENU -->
    <key>虚拟工具箱</key>
    <string>Công cụ ảo</string>

    <key>退出</key>
    <string>Thoát</string>

    <key>关闭</key>
    <string>Đóng</string>

    <!-- DANH MỤC -->
    <key>相机功能</key>
    <string>Camera</string>

    <key>伪装功能</key>
    <string>Giả lập</string>

    <key>屏蔽功能</key>
    <string>Chặn</string>

    <key>特色功能</key>
    <string>VIP</string>

    <!-- CAMERA -->
    <key>选择替换</key>
    <string>Chọn thay thế</string>

    <key>未选择</key>
    <string>Chưa chọn</string>

    <key>禁用替换</key>
    <string>Tắt thay thế</string>

    <key>未替换</key>
    <string>Chưa thay</string>

    <!-- GIẢ LẬP -->
    <key>编辑映射</key>
    <string>Chỉnh sửa ánh xạ</string>

    <key>未映射</key>
    <string>Chưa ánh xạ</string>

    <key>虚拟定位</key>
    <string>Giả lập vị trí</string>

    <key>已启用</key>
    <string>Đã bật</string>

    <key>WiFi模拟</key>
    <string>Giả lập WiFi</string>

    <key>未启用</key>
    <string>Chưa bật</string>

    <key>伪装版本</key>
    <string>Giả lập phiên bản</string>

    <key>未伪装</key>
    <string>Chưa giả lập</string>

    <key>伪装IDFV/A</key>
    <string>Giả IDFV/A</string>

    <key>应用锁定</key>
    <string>Khoá ứng dụng</string>

    <key>生物验证</key>
    <string>Xác thực sinh học</string>

    <!-- CHẶN -->
    <key>屏蔽代理检测</key>
    <string>Chặn phát hiện proxy</string>

    <key>屏蔽截屏检测</key>
    <string>Chặn phát hiện chụp màn</string>

    <key>屏蔽应用摇一摇</key>
    <string>Chặn lắc thiết bị</string>

    <!-- VIP -->
    <key>点击按钮</key>
    <string>Tự động nhấn</string>

    <key>触摸轨迹</key>
    <string>Ghi thao tác chạm</string>

    <key>左滑返回</key>
    <string>Vuốt trái để quay lại</string>

    <key>深色键盘</key>
    <string>Bàn phím tối</string>

    <key>最高FPS</key>
    <string>FPS tối đa</string>

    <!-- TOOL -->
    <key>常驻后台</key>
    <string>Chạy nền</string>

    <key>清理缓存</key>
    <string>Dọn cache</string>

    <key>自动点击</key>
    <string>Tự động click</string>

    <key>全局变速</key>
    <string>Tăng tốc hệ thống</string>

    <key>内存修改</key>
    <string>Chỉnh sửa RAM</string>

    <key>数据管理</key>
    <string>Quản lý dữ liệu</string>

    <key>应用日志</key>
    <string>Log ứng dụng</string>

    <key>应用信息</key>
    <string>Thông tin app</string>

    <key>沙盒管理</key>
    <string>Quản lý sandbox</string>

    <key>加载网页</key>
    <string>Tải web</string>

    <key>FLEX调试</key>
    <string>Debug FLEX</string>

    <!-- LIÊN HỆ -->
    <key>联系方式</key>
    <string>Liên hệ</string>

    <key>官方网站</key>
    <string>Trang web</string>

    <key>TG交流群</key>
    <string>Nhóm Telegram</string>

    <!-- FORM -->
    <key>保存</key>
    <string>Lưu</string>

    <key>清空映射</key>
    <string>Xoá ánh xạ</string>

    <key>修改文字</key>
    <string>Sửa văn bản</string>

    <key>重定向URL</key>
    <string>Chuyển hướng URL</string>

    <key>修改URL请求头值</key>
    <string>Sửa header URL</string>

    <!-- VỊ TRÍ -->
    <key>位置模拟</key>
    <string>Giả lập vị trí</string>

    <key>搜索地址或地点</key>
    <string>Tìm địa điểm</string>

    <key>历史记录</key>
    <string>Lịch sử</string>

    <key>输入位置</key>
    <string>Nhập vị trí</string>

    <key>输入海拔</key>
    <string>Nhập độ cao</string>

    <key>位置</key>
    <string>Vị trí</string>

    <key>海拔</key>
    <string>Độ cao</string>

    <key>确认位置</key>
    <string>Xác nhận vị trí</string>

    <!-- WIFI -->
    <key>输入 Wi-Fi SSID (网络名称)</key>
    <string>Nhập tên WiFi</string>

    <key>输入 Wi-Fi BSSID (网络Mac地址)</key>
    <string>Nhập MAC WiFi</string>

    <key>清除设置</key>
    <string>Xoá cài đặt</string>

    <key>当前未设置 Wi-Fi</key>
    <string>Chưa cấu hình WiFi</string>

    <!-- VERSION -->
    <key>伪装版本设置</key>
    <string>Cài đặt giả lập</string>

    <key>当前伪装版本</key>
    <string>Phiên bản hiện tại</string>

    <key>应用版本</key>
    <string>Phiên bản app</string>

    <key>系统版本</key>
    <string>Phiên bản hệ thống</string>

    <key>设备型号</key>
    <string>Thiết bị</string>

    <key>保存配置</key>
    <string>Lưu cấu hình</string>

    <key>清除配置</key>
    <string>Xoá cấu hình</string>
    
	<key>By•XUUZ</key>
<string>By • Nghiện Proxy</string>

<key>联系方式</key>
<string>Liên hệ</string>

<key>官方网站</key>
<string>Trang web</string>

<key>TG交流群</key>
<string>Nhóm Telegram</string>
</dict>
</plist>
